---
import "../styles/global.css";
//@ts-ignore
import Satellite from "../components/pages/Satellite";
import { getSatelliteData, getSatelliteSlugs } from "../lib/satellite";
import UnderConstruction from "../components/pages/UnderConstruction";
import type { SatelliteContent } from "../lib/satellite";

export const prerender = false;
let { slug } = Astro.params;

const slugs = await getSatelliteSlugs();

if (slug === 'notmyevent') {
  slug = 'myevent';
}

if (!slug || !slugs.includes(slug)) {
  return Astro.redirect("/404");
}

const satelliteData = await getSatelliteData(slug);

if (satelliteData?.redirect) {
  return Astro.redirect(satelliteData.redirect);
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack Club Campfire</title>

    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="Hack Club Campfire" />
    <meta
      property="og:description"
      content="Join Hack Club's annual game jam! Build amazing games and compete for epic prizes."
    />
    <meta property="og:image" content="/og-banner.png" />
    <meta property="og:url" content="https://campfire.hackclub.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hack Club Campfire" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hackclub" />
    <meta name="twitter:title" content="Hack Club Campfire" />
    <meta
      name="twitter:description"
      content="Join Hack Club's annual game jam! Build amazing games and compete for epic prizes."
    />
    <meta name="twitter:image" content="/og-banner.png" />

    <!-- Privacy-friendly analytics by Plausible
    <script async src="https://plausible.io/js/pa-N_oKgCwiYwq16gm7VPPeD.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script> -->
  </head>
  <body>
    {
      (!satelliteData?.active ||
        (satelliteData.data as SatelliteContent).error ||
        (satelliteData.data as SatelliteContent).cancelled) && (
        <UnderConstruction
          client:only="react"
          event_name={slug}
          record_id={satelliteData?.recordId}
          error={(satelliteData?.data as SatelliteContent)?.error || ""}
          cancelled={(satelliteData?.data as SatelliteContent)?.cancelled || false}
        />
      )
    }
    {
      satelliteData?.active && (
        <Satellite
          client:only="react"
          slug={slug}
          content={satelliteData.data as SatelliteContent}
          record_id={satelliteData?.recordId}
          signupUrl={satelliteData?.signupUrl}
          webSignupOverride={satelliteData?.webSignupOverride}
        />
      )
    }
  </body>
</html>
